---
import BaseHead from '../components/BaseHead.astro';
import HomeHeader from '../components/HomeHeader.astro';
import favicon from '../images/home/favicon.png';
import type { Props } from '../layouts/BlogPost.astro';

const allPosts = Object.values(
  import.meta.glob('./posts/**/*.{md,mdx}', { eager: true }),
) as Array<{ frontmatter: Props['content'] }>;
const posts = allPosts
  .filter((p) => !p.frontmatter.draft)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.publishedAt).valueOf() -
      new Date(a.frontmatter.publishedAt).valueOf(),
  );
---

<!doctype html>
<html>
  <head>
    <BaseHead
      url={Astro.site!.href}
      ,
      imageUrl={favicon.src}
      title="Home"
      parent="tusharf5.com"
      description="Welcome"
      keywords={['tech']}
    />
    <style lang="scss">
      @import '../styles/home.scss';
    </style>
  </head>

  <body>
    <HomeHeader />
    <main class="index">
      <ul>
        {
          posts.map((post) => (
            <li>
              <div class="post-snippet">
                <h2>
                  <a href={`/posts/${post.frontmatter.uid}`}>
                    {post.frontmatter.title}
                  </a>
                </h2>
                <p>{post.frontmatter.excerpt}</p>
                <a class="readmore" href={`/posts/${post.frontmatter.uid}`}>
                  Read more <span>→</span>
                </a>
              </div>
            </li>
          ))
        }
      </ul>
    </main>
  </body>
</html>
